html, body {
    margin:0;
    padding:0;
    width: 100%;
    /* background-color: #212529; */
    background-color: black;
  }
  .app{
    background-color: black;
  }
.scrollX {
    overflow-x: scroll;
    overflow-y:visible
}
.Bg-card{
   
    /* background-color: #212529; */
    background-color: black;
  
}
.cardDimension {
    height: 300px;
    object-fit: cover;
    /* background-color: #212529;  */
    background-color: black;
    cursor: pointer;  

}

.card:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 3px 3px 5px #000;
    -moz-box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;
    z-index: 4;
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: auto;
   
}

.card{
    position: relative;
    transition: all 1s ease;
    border: none !important; 

 
}

.dropdown {
    margin-left: 1rem;
}

.ancora{
    color: white;
    text-decoration: none; 
}

.nav-drop{
    /* background-color: #212529; */
    background-color: black;
}

#collapsible-nav-dropdown{
color: white;
margin-left: 50px;
}